<!-- Em dias-da-semana.ejs -->
<%- include('includes/head')%>
<%- include('includes/nav')%>

<section>
  <div class="container py-5 h-100">
    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
      <div class="card-body p-4 p-md-5">
        <h1 class="text-center">Turma: TESTE, Mes de Janeiro</h1>

        <!-- Adicione uma tabela com os dias da semana selecionados -->
        <table class="table table-hover table-bordered table-sm my-3">
            <p><b>Frequências:</b></p>
          <tr>
            <th></th>
 
                <td>4/1/24</td>
                <td>10/1/24</td>
                <td>17/1/24</td>
                <td>24/1/24</td>
                <td>31/1/24</td>
            
        </tr>
        <tr>
            <th>João</th>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="situacao">
                <option value="" disabled>Escolha uma opção</option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="situacao">
                <option value="" disabled>Escolha uma opção</option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="situacao">
                <option value="" disabled>Escolha uma opção</option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="situacao">
                <option value="" disabled>Escolha uma opção</option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="situacao">
                <option value="" disabled>Escolha uma opção</option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
        </tr>
        <tr>
            <th>Pedro</th>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="situacao">
                <option value="" disabled>Escolha uma opção</option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="situacao">
                <option value="" disabled>Escolha uma opção</option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="situacao">
                <option value="" disabled>Escolha uma opção</option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="situacao">
                <option value="" disabled>Escolha uma opção</option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="situacao">
                <option value="" disabled>Escolha uma opção</option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
        </tr>
        <tr>
            <th>Alfredo</th>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="situacao">
                <option value="" disabled>Escolha uma opção</option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="situacao">
                <option value="" disabled>Escolha uma opção</option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="situacao">
                <option value="" disabled>Escolha uma opção</option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="situacao">
                <option value="" disabled>Escolha uma opção</option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
            <td><select class="select form-control-sm" aria-label="size 1 select example" name="situacao">
                <option value="" disabled>Escolha uma opção</option>
                <option value="Presente">Presente</option>
                <option value="Ausente">Ausente</option>
                <option value="Justificado">Justificado</option>
                <option value="Dia sem aula">Dia sem aula</option>

            </select></td>
        </tr>
          <!-- Adicione dinamicamente as linhas da tabela com os dias da semana -->
            
        </table>
        <br>
        <table class="table table-hover table-bordered table-sm my-3">
            <p><b>Anotações:</b></p>
            <tr>
                <td><label for="exampleFormControlTextarea1">1/1/24</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea></td>
            </tr>
            <tr>
                <td><label for="exampleFormControlTextarea1">8/1/24</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea></td>
            </tr>
            <tr>
                <td><label for="exampleFormControlTextarea1">15/1/24</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea></td>
            </tr>
            <tr>
                <td><label for="exampleFormControlTextarea1">22/1/24</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea></td>
            </tr>
            <tr>
                <td><label for="exampleFormControlTextarea1">29/1/24</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea></td>
            </tr>

        </table>

        <div class="mt-4 pt-2 d-flex align-items-center justify-content-center">
            <a href=""><input class="btn btn-primary btn-lg" type="submit" value="Atualizar Frequência" />
            </a>
            </div>
      </div>
    </div>
  </div>
</section>

<%- include('includes/footer')%>
